@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');

$dark-gray: rgb(34, 34, 34);
$bar-left: rgb(18, 241, 137);
$bar-right: rgb(255, 117, 117);
$bar-gradient: linear-gradient(
	90deg,
	$bar-left, $bar-left,
	$bar-right, $bar-right,
	$bar-left, $bar-left
);

*, ::after, ::before {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


::selection {
	color: black;
	background-color: $bar-left;
}

::-webkit-scrollbar {background-color: $dark-gray;}
::-webkit-scrollbar-thumb {
	background-color: rgb(77, 77, 77);
	border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(94, 94, 94);
}

body {background-color: rgb(54, 54, 54);}
body.preload * {
	animation-duration: 0ms !important;
	transition: 0ms !important;
}
span {font-family: inherit;}
p {margin: 15px 0;}

a {
	font-style: inherit;
	text-decoration: inherit;
	color: inherit;
}

ul {padding-left: 50px;}
li {margin: 10px 0}

h3 { margin: 20px 0;}


.info, footer, .links {
	box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.541);
	background-color: $dark-gray;
	z-index: 1;
}

.links {
	padding: 30px 20%;
	background-color: white;
}



.lang-changer {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	right: 50px;
	width: fit-content;
	padding: 0.4em 1em;
	height: max-content;
	border-radius: 0 0 7px 7px;
	z-index: 50;
	background-color: white;
	transition: all .25s ease-in-out;
	user-select: none;
	transform: translateY(-75%);
	font-size: 1.25em;
	text-decoration: underline;
	color: transparent;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.267);
	cursor: pointer;

	& svg {
		height: 1em;
		width: 1em;
	}

	&::after {	/* We use this to make the hold area way bigger */
		position: absolute;
		content: "";
		inset: -50px -50px;
		z-index: -1;
		cursor: default;
	}

	&:hover {
		transform: none;
		color: black;
	}
}







/* a */
a.button {
	display: inline-block;
	background-color: rgb(65, 65, 65);

	border: none;
	color: white;
	font-size: 1em;
	padding: 0.4em 1.75em;
	border-radius: 5px;
	margin: 0.5em 0;
	font-weight: bold;
	text-decoration: none;
	transition:
		background-color 0.25s,
		box-shadow 1s,
		color 0.25s;

	&:hover, &:focus-visible {
		background-color: rgb(119, 219, 164);
		box-shadow: 0 0 10px 1px rgba(36, 36, 36, 0.63);
		color: black;
	}
}






/* Main screen */
@keyframes bg-move {
	from { background-position-x: left;}
	to { background-position-x: right;}
}

.banner {
	--bg-opacity: 0.1;
	$bg-blur: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh;
	font-size: 15vh;
	padding: 0 10%;
	background-image: linear-gradient(
		rgba(0, 0, 0, var(--bg-opacity)),	/* We do this to have to darken the bg a bit */
		rgba(0, 0, 0, var(--bg-opacity))),
		url("../images/anim.gif");
	background-size: 250vh;
	background-position-y: 50%;
	animation: bg-move 20s infinite alternate ease-in-out;
	overflow: hidden;
	user-select: none;
	position: relative;


	&::before {	/* Banner blur effect */
		position: absolute;
		inset: 0;
		content: "";
		backdrop-filter: blur($bg-blur);
		z-index: 0;
	}

	@supports not (backdrop-filter: blur()) {
		& {
			--bg-opacity: 0.8;
		}
	}



	.banner-title {
		font-family: 'Roboto', sans-serif;;
		display: inline-block;
		letter-spacing: -0.05em;
		line-height: 0.75em;
		width: max-content;
		background-image: $bar-gradient;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-size: 5em;
		animation: bg-move 5s infinite alternate ease-in-out;
		z-index: 1;
	}

	.banner-subtitle {
		transform: translateX(0.5em);
		line-height: 1em;
		font-size: 0.25em;
		display: block;
		color: rgb(230, 230, 230);
		font-weight: bold;
	}
}








.info {		/* Contains the info-items */
	min-height: 30vh;
	display: flex;
	justify-content: space-around;
	font-size: 1.25em;
	color: white;


	.info-item {
		--color: white;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		border-left: 5px solid var(--color);
		width: 100%;
		font-size: 0.9em;
		position: relative;

		margin: 1.5em;
		padding: .75em; padding-right: 3.5em;
		flex-direction: column;
		transition: all .5s;


		&::after {		/* Colored background with round borders */
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background-color: var(--color);
			opacity: 0;
			border-radius: 0 1.25em 1.25em 0;
			width: 100%;
			z-index: -1;
			transition: all .5s;
		}

		p {text-align: justify;}
		a {margin-top: auto;}
		a:hover, a:focus-visible {background-color: var(--color);}
		h1 {
			margin-bottom: 0.25em;
			font-size: 2em;
			color: var(--color)
		}

		&:hover { transform: scale(1.025); }
		&:hover::after { opacity: 0.15; }


		/* Setting the different colors used by the info-items */
		&.blue {--color: rgb(78, 189, 197);}
		&.red {--color: rgb(228, 146, 146);}
		&.purple {--color: rgb(132, 123, 218);}
	}
}









video, code {
	border: 3px solid rgb(218, 218, 218);
	border-radius: 1vh;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
	background-color: $dark-gray;
}





/* Code blocks */
code {
	font-family: monospace;
	display: block;
	color: white;
	white-space: pre-wrap;
	padding: 5px 20px;
	font-size: 1.2em;
	margin-bottom: 20px;
	overflow-x: visible;
	background-color: rgba(26, 26, 26, 0.801);

	&:hover > .special {
		text-decoration: underline dotted 2px;
	}

	> .special {
		font-weight: bold;
		transition: all .1s;
		position: relative;

		&:hover {
			font-weight: bold;
			text-decoration: underline solid 2px;
			text-shadow:
				0 0 2em currentColor,
				0 0 0.25em currentColor;
		}
	}
}

/* syntax highlighting */
.kw {color: rgb(225, 126, 255)}
.var {color: rgb(238, 146, 146)}
.str {color: rgb(136, 189, 115)}
.obj {color: rgb(252, 200, 89)}
.func {color: rgb(89, 192, 252)}
.op {color: rgb(78, 207, 197)}
.num {color: rgb(255, 123, 0)}
.com {color: gray}


.pre {	/* small code */
	display: inline-block;
	background-color: rgba(20, 20, 20, 0.411);
	padding: 0.1em;
	border-radius: 3px;
	font-size: 1.1em;
	font-family: monospace;
}









/* Showcases */
.showcase {
	padding: 7.5% 20%;
	overflow: hidden;
	background-size: 150%;
	background-position: left;
	transition: background-position 1s;


	.show-title {
		color: white;
		font-family: "Roboto";
		font-size: 5em;
		margin-bottom: 0.5em;
	}

	.show {
		padding-left: 10px;
		padding-right: 10px;

		&.code {
			width: 50%;
		}

		&.content {
			width: 50%;
			color: white;
			font-size: 1.3rem;
			text-align: justify;
			margin-bottom: 15px;
		}
	}

	&:hover {background-position: right; }


	/* Different gradients used for the showcase sections */
	$sectionColors: (
		part1: (rgb(92, 168, 145), rgb(136, 115, 96)),
		part2: (rgb(117, 96, 136), rgb(187, 137, 91)),
		part3: (rgb(96, 136, 96), rgb(105, 91, 187)),
		part4: (rgb(197, 188, 65), rgb(179, 91, 32)),
		part5: (rgb(42, 117, 54), rgb(87, 168, 164)),
	);

	@each $part, $colorlist in $sectionColors {
		&.#{$part} {
			background-image: linear-gradient(
				45deg,
				#{nth($colorlist, 1)},
				#{nth($colorlist, 2)}
			);
		}
	};
}











/* Links */
.items {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	flex-wrap: nowrap;
	margin-top: 20px;
	color: black;


	.link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: 300px;
		border-radius: 1vh;
		padding: 15px;
		margin-right: 20px;
		margin-bottom: 20px;
		transition: all .5s;
		outline: 3px solid rgb(235, 235, 235);
		background-color: white;
		color: black;
		overflow: hidden;
		position: relative;
		z-index: 1;

		// hover effect
		&::before {
			content: "";
			position: absolute;
			left: -80%;
			top: 0;
			width: 75%;
			height: 100%;
			opacity: 0;
			transform: skewX(20deg);
			// background-color: rgba(158, 158, 158, 0.075);
			background-image: linear-gradient(
				90deg,
				rgba(158, 158, 158, 0.027),
				rgba(158, 158, 158, 0.075),
				rgba(133, 133, 133, 0.13),
				rgba(158, 158, 158, 0.075),
				rgba(158, 158, 158, 0.027)
			);
			z-index: -1;
		}

		&:hover, &:focus-visible {
			box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.199);
			transform: scale(1.1);
			outline: 2px solid transparent;
			z-index: 1;

			&::before {
				left: 130%;
				transition: left 1s;
				opacity: 1;
			}
		}

		img {
			width: 100px;
			height: 100px;
		}


		.link-title {
			display: inline-block;
			width: 100%;
			padding-top: 0.25em;
			padding-bottom: 0.25em;
			border-bottom: 3px solid currentColor;
		}

		.link-text {
			margin-top: 10px;
			text-align: justify;
		}
	}
}









/* Credits */
footer {
	padding: 20px;
	overflow: hidden;
	color: white;
	font-size: 1.25em;
	display: flex;


	.credits-img {
		height: 2rem;
		margin-right: 0.25rem;
	}

	.credits-logo {
		width: 20em;
		img { width: 100%; }
	}
}









span.whisper {
	opacity: 0.3;
	font-style: italic;
}



.tooltip {
	// reset all the shit
		font-size: initial;
		text-shadow: initial;
		font-weight: initial;

	display: block;
	position: absolute;
	opacity: 0;
	background-color: rgba(53, 53, 53, 0.5);
	backdrop-filter: blur(10px);

	border-radius: 0 1vh 1vh 1vh;
	padding: 15px; padding-left: 20px;
	top: 95%;
	left: -20px;
	width: max-content;
	max-width: 300px;
	color: white;
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.295);
	pointer-events: none;
	user-select: none;
	z-index: 1;	// make sure it appears over the rest of elements with relative positions

	transition: opacity .5s, left .5s, border-left .15s .5s, padding-left .15s .5s;

	*:hover > & {
		left: 0;
		opacity: 1;
		border-left: 5px solid white;
		padding-left: 15px;		// we do this to prevent the text shifting to the right when the border expands
	}

	@supports not (backdrop-filter: blur()) {
		& {
			background-color: rgb(53, 53, 53);
		}
	}
}












.left {float: left;}
.right {float: right;}
.mshow {display: none;}

@media screen and (max-width: 1000px) {
	.lang-changer {
		font-size: calc(2vw + 0.5em);
		right: 5vw;
		transform: none;
		color: black;
	}
	.lang-changer::after { display: none;}

	.banner {
		font-size: 20vw;
		height: 100vw;
	}

	.info {
		flex-direction: column;

		.info-item {
			max-width: fit-content;
			padding-right: 20px;
		}
	}


	.showcase {
		padding: 15% 5%;

		.show-title {font-size: 3.2em;}
		.show {
			&.code, &.content {
				width: 100%;
			}
		}
	}


	.links {
		padding: 5%;

		.items {
			flex-direction: column;
			align-items: center;

			.link {
				width: 90%;
				margin-right: 0;
			}
		}
	}



	.mshow {
		display: initial;
	}
}